@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;

  background-color: black;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 4fr 100px 100px;
}

.wrappernew {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
}

/* stars background */
.stars,
.twinkling,
.clouds {
  position: relative;
  display: block;
  width: 100%;
  max-height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.twinkling {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("https://image.ibb.co/bT4N7T/clouds.png") repeat
    top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
/* End stars background */

/* Header */
.header-wrapper {
  z-index: 3;
  grid-row-start: 1;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 20px;
  background-color: #6f0e77;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.header-logo {
  justify-self: start;
}

.header-text {
  background-color: #ff9830;
  border-radius: 3px;
  color: white;
  padding: 10px 10px;
  width: 100%;
  align-self: center;
}

/* End header  */

.title {
  z-index: 3;
  grid-row-start: 1;
  justify-self: center;
  height: 90px;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding: 20px;
  background-color: #ff9830;
  font-family: "Roboto", sans-serif;
  color: #fff;
  border: 0.5px solid #275ab9;
  border-radius: 6px;
}

/* Footer */
.footer-wrapper {
  z-index: 3;
  grid-row-start: 8;
  justify-self: end;
  height: 100px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  background-color: #6f0e77;
  margin-top: auto;
}

/* Orbiting planets */
.spinner-box {
  z-index: 3;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.solar-system {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.orbit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffffa5;
  border-radius: 50%;
}
.earth-orbit {
  width: 55px;
  height: 55px;
  animation: spin 12s linear 0s infinite;
}
.venus-orbit {
  width: 35px;
  height: 35px;
  animation: spin 7.4s linear 0s infinite;
}
.mercury-orbit {
  width: 20px;
  height: 20px;
  animation: spin 3s linear 0s infinite;
}
.planet {
  position: absolute;
  top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #3ff9dc;
}

.sun {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffab91;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
/* end Orbiting Planets */
