@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 970%;
}

.stars {
  z-index: 0;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top
    center;
}

.twinkling {
  z-index: 1;
  background: transparent url("https://image.ibb.co/ir1DE8/twinkling.png")
    repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url("https://image.ibb.co/bT4N7T/clouds.png") repeat
    top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.shop {
  z-index: 3;
  width: 150px;
  height: 300px;
  background: #1b8bad;
  border-radius: 0.5rem;
  margin: 15px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}

.shopWrapper {
  display: flex;
  z-index: 3;
}

.shopContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 3;
}

.shopMenu {
  margin-top: 16px;
  margin-left: 15px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  font-family: "Roboto", sans-serif;
  z-index: 3;
  color: white;
  border: 1px solid #275ab9;
}

.bought-rock {
  z-index: 3;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.shop-cart {
  background: #0f6d7e;
  z-index: 3;
  width: 90px;
  height: 140px;
  border-style: solid;
  border: 0.2px solid #275ab9;
  border-radius: 6px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.buttonbuy {
  background-color: #0f6d7e;
  color: #fcd3a5;
  box-shadow: 2px 2px 4px black;
  border: 0.5px solid #275ab9;
  border-radius: 6px;
  width: 130px;
  height: 80px;
  cursor: pointer;
  transition: 0.3s;
}

.buttonbuy:hover {
  background-color: #fcd3a5;
  color: #0f6d7e;
}

.buttondelete {
  background-color: #0f6d7e;
  color: #fcd3a5;
  box-shadow: 2px 2px 4px black;
  border: 0.5px solid #275ab9;
  border-radius: 6px;
  margin: 10px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: 0.3s;
}

.radioActive {
  background-color: #0f6d7e;
  color: #fcd3a5;
  box-shadow: 2px 2px 4px black;
  border: 0.5px solid #275ab9;
  border-radius: 6px;
  margin: 10px;
  width: 80vw;
  height: 70px;
  cursor: pointer;
}

#pressed {
  background-color: #fcd3a5;
  color: #0f6d7e;
}
