.shop {
  width: 300px;
  height: 300px;
  border-style: solid;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

img {
  width: 200px;
}

.shopWrapper {
  display: flex;
}

.shopContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shopMenu {
  margin-top: 16px;
  margin-left: 15px;
  height: 300px;
}
